/*Variables*/


:root{
    --primary-color: #261C24; 
    --bs-body-font-family:'Source Code Pro', monospace;
    --bs-body-second-font-family:'Mulish', sans-serif;
    --second-color: #A1838B;
    --third-color: #CF8D9B;
    --fourth-color:#E2A391;
}

/*html {
    font-size: 62.5%;
}*//



body {
    position: relative;
  }

.nav-link{
    color:var(--third-color);
}



.hero{
    min-height: 100vh;
}

.btn-hero:hover{
    color: var(--third-color);
}

#aboutMe{
    min-height: 100vh;
    background-color: var(--third-color);
}

.titles{
 font-family: var(--bs-body-second-font-family);
 color: var(--primary-color;)
}

.btn-hero i:hover{
    color:var(--primary-color);
}

.profile-img img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.bi-linkedin{
   width: 50px;
   height: 50px; 
}



.row-tools img{
    width: 70px;
    height: 70px;
}

.card-img-top{
max-height: 20vh;
object-fit: cover;
opacity: .5;
}

.btn-eye{
   color: var(--third-color);
   background-color: var(--primary-color); 
}

.btn-repo{
    color: var(--third-color);
    background-color: var(--primary-color); 
}


#footer{
    background-color: rgb(32, 31, 31);
}

.footer-text{
    font-size: smaller;
    font-family: var(--bs-body-second-font-family);
    font-weight:100;
}

